/*
 * Copyright 2023 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import url('reset.css');

:root {
  /** Colors */
  --bright-gray: #efefef;
  --grey: #979797;
  --silver: #d8d8d8;
  --body-color: #3a3a3a;
  --quartz: #4c4948;
  --red: #e10;

  /** Fonts **/
  --font-family-opensans: 'Open Sans', 'Open Sans Fallback', 'Arial', sans-serif;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-normal: 400;
  --font-weight-light: 300;
  --font-weight-thin: 100;

  /** Body **/
  --body-font-size-xs: 12px;
  --body-font-size-s: 14px;
  --body-font-size-m: 16px;
  --body-font-size-l: 24px;
  --body-font-size-xl: 32px;

  /** Header **/
  --header-font-size-m: 24px;

  /** Nav Height **/
  --nav-height: 100px;

  /* Line heights */
  --line-height-xs: 1.15em;
  --line-height-s: 1.25em;
  --line-height-m: 1.5em;
  --line-height-l: 2em;
  --line-height-xl: 2.5em;
  --line-height-xxl: 2.9em;

}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: var(--body-color);
  background-color: var(--bright-gray);
  font-family: var(--font-family-opensans);
  display: none;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}


@media screen and (max-width: 299px) {
  :root {
    --nav-height: 75px;
  }
}

@media screen and (min-width: 600px) {
  :root {
    --nav-height: 125px;
  }
}

@font-face {
  font-family: 'Open Sans Fallback';
  font-style: normal;
  font-weight: 600;
  src: local('Arial Bold');
  ascent-override: 109.90%;
  descent-override: 30.12%;
  line-gap-override: 0.00%;
  size-adjust: 97.26%;
}

@font-face {
  font-family: 'Open Sans Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 116.27%;
  descent-override: 31.87%;
  line-gap-override: 0.00%;
  size-adjust: 91.93%;
}
