/*
 * Copyright 2023 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import url('reset.css');

:root {
  /* Colors */
  --bright-gray: #efefef;
  --gray: #979797;
  --silver: #d8d8d8;
  --quartz: #4c4948;
  --red: #e10;
  --white: #fff;
  --blue: #003087;
  --black-olive: #3a3a3a;
  --black: black;
  --cadet: #edeff0; /* gray-blue */

  /* Brand Colors */
  --gammagard-liq: #f89a38;
  --onepath: #00a9ec;

  /* Font Colors */
  --default-text-color: var(--black-olive);

  /* Fonts */
  --font-family-opensans: 'Open Sans', 'Open Sans Fallback', 'Arial', sans-serif;
  --body-font-family: var(--font-family-opensans);
  --heading-font-family: var(--font-family-opensans);
  
  /* Font Weights */
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-normal: 400;
  --font-weight-light: 300;
  --font-weight-thin: 100;

  /* Body */
  --body-font-size-xs: 12px;
  --body-font-size-s: 14px;
  --body-font-size-m: 16px;
  --body-font-size-l: 18px;
  --body-font-size-xl: 20px;
  --body-font-size-xxl: 24px;

  /* Heading */
  --heading-font-size-s: 24px;
  --heading-font-size-m: 26px;
  --heading-font-size-l: 30px;
  --heading-font-size-xl: 42px;

  /* Nav Height */
  --nav-height: 100px;

  /* Line heights */
  --line-height-xs: 1.15em;
  --line-height-s: 1.25em;
  --line-height-m: 1.5em;
  --line-height-l: 1.75em;
  --line-height-xl: 2em;
  --line-height-xxl: 2.5em;
  --line-height-xxxl: 2.9em;

  /* Page Widths */
  --normal-page-width: 1200px;
  --wide-page-width: 1600px;
  --full-page-width: 100vw;
}

*, *::before, *::after {
  box-sizing: border-box;
}


h1, h2 {
  font-family: var(--heading-font-family);
  font-weight: var(--font-weight-bold);
}

h1 {
  margin-bottom: 8px;
  font-size: var(--heading-font-size-m);
  line-height: var(--line-height-s);
  color: var(--white);
}

h2 {
  margin-bottom: 12px;
  font-size: var(--heading-font-size-s);
  line-height: var(--line-height-s);
  color: var(--black);
}

p {
  margin-bottom: 1.5em;
  font-family: var(--body-font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--body-font-size-m);
  line-height: var(--line-height-s);
  color: var(--default-text-color);
  text-align: inherit;
}

a, a:visited{
  font-family: var(--body-font-family);
  color: var(--blue);
}

p.button-container a {
  display: inline-block;
  padding: 8px 20px;
  font-weight: bold;
  line-height: var(--line-height-l);
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 3px 3px 7px 1px rgba(0 0 0 / 20%);
}

p.button-container a:visited {
  color: var(--black);
  text-decoration: none;
}

strong {
  font-weight: var(--font-weight-bold);
}

em {
  font-style: italic;
}

sup {
  position: relative;
  font-size: 75%;
  bottom: 1ex;
}

sub {
  font-size: var(--body-font-size-xs);
  line-height: var(--line-height-xs);
}


body {
  display: none;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

main {
  background-color: var(--white);
}

main .section {
  padding: 32px 0;
}

main .section.gray-background {
  background-color: var(--bright-gray);
}

main .section.silver-background {
  background-color: var(--silver);
}

main .section.quartz-background {
  background-color: var(--quartz);
}

main .section.quartz-background h1,
main .section.quartz-background h2,
main .section.quartz-background p {
  color: var(--white);
}

main .section.cadet-gradient-background {
  background: linear-gradient(
      -180deg,
      #5b6770 0%,
      #edeff0 86%,
      rgba(242 244 245 / 55%) 88%,
      rgba(247 248 248 / 0%) 90%,
      rgba(255 255 255 / 0%) 100%
  );
}

main .section > div {
  padding: 0 16px;
  margin: 0 auto;
  max-width: var(--normal-page-width  );
}

@media screen and (max-width: 299px) {
  :root {
    --nav-height: 75px;
  }
}

@media screen and (min-width: 600px) {
  :root {
    --nav-height: 125px;
  }

  main .section > div {
    padding: 0 24px;
  }
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: var(--heading-font-size-xl);
  }

  h2 {
    font-size: var(--heading-font-size-l);
  }

  p {
    font-size: var(--body-font-size-l);
  }

  main .section > div {
    padding: 0 90px;
  }
}

@font-face {
  font-family: 'Open Sans Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 101.58%;
  descent-override: 27.84%;
  line-gap-override: 0.00%;
  size-adjust: 105.22%;
}

@font-face {
  font-family: 'Open Sans Fallback';
  font-style: italic;
  font-weight: 400;
  src: local('Arial Italic');
  ascent-override: 107.47%;
  descent-override: 29.46%;
  line-gap-override: 0.00%;
  size-adjust: 99.46%;
}

@font-face {
  font-family: 'Open Sans Fallback';
  font-style: normal;
  font-weight: 600;
  src: local('Arial Bold');
  ascent-override: 109.90%;
  descent-override: 30.12%;
  line-gap-override: 0.00%;
  size-adjust: 97.26%;
}

@font-face {
  font-family: 'Open Sans Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 109.90%;
  descent-override: 30.12%;
  line-gap-override: 0.00%;
  size-adjust: 97.26%;
}

